@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fbfbfb;
  font-family: "DM Sans", sans-serif;
}

body {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  gap: 8rem;
  flex-direction: column;
  align-items: center;
}

.navBar {
  width: 100%;
  height: 4.5rem;
  background-color: #212121;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
}
.navBar .logo-container {
  background-color: #212121;
}
.navBar .logo-container svg {
  background-color: #212121;
  height: fit-content;
  width: fit-content;
}
.navBar .menu-container {
  display: flex;
  position: relative;
  height: 100%;
}
.navBar .menu-container .menu-list-container {
  display: flex;
  position: relative;
  gap: 8rem;
  list-style: none;
  background-color: #212121;
  font-size: 1rem;
  font-weight: 500;
}
.navBar .menu-container .menu-list-container .menu-item {
  padding: 1.4rem;
  background-color: #212121;
  width: 8rem;
}
.navBar .menu-container .menu-list-container .menu-item a {
  text-decoration: none;
  background-color: #212121;
  color: #fbfbfb;
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.navBar .menu-container .menu-list-container .menu-item:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
.navBar .menu-container .menu-list-container .menu-item .dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4.5rem;
  width: 8rem;
  gap: 0rem;
  transform: translateX(-1.5rem);
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.navBar .menu-container .menu-list-container .menu-item .dropdown-menu li {
  background-color: #212121;
  color: #fbfbfb;
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  list-style: none;
}

footer {
  width: 100%;
  height: fit-content;
  background-color: #212121;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
  gap: 2rem;
}
footer .footer-title {
  width: 40rem;
  height: fit-content;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: none;
}
footer .footer-title h4 {
  font-size: 2rem;
  background: none;
  color: #fbfbfb;
}
footer .footer-title svg {
  position: relative;
  top: 1px;
  background: none;
}
footer .footer-info-container {
  width: 40rem;
  display: flex;
  justify-content: space-between;
  background: none;
}
footer .footer-info-container .footer-datalist {
  background: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footer-info-container .footer-datalist h4 {
  color: #1591EA;
  text-align: center;
  background: none;
}
footer .footer-info-container .footer-datalist .footer-datalist-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  gap: 0.5rem;
}
footer .footer-info-container .footer-datalist .footer-datalist-items .datalist-item {
  background: none;
}
footer .footer-info-container .footer-datalist .footer-datalist-items .datalist-item a {
  background: none;
  color: #fbfbfb;
  text-decoration: none;
  font-weight: 500;
}
footer .footer-contact {
  width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: none;
  border-top: 1px solid #3d3d3d;
  padding-top: 2rem;
}
footer .footer-contact .svg-footer-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  gap: 1rem;
  background: none;
}
footer .footer-contact .svg-footer-container svg {
  color: #fbfbfb;
  background: none;
}
footer .footer-contact .form-container {
  height: fit-content;
  background: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer .footer-contact .form-container input {
  width: 100%;
  padding: 0.375rem;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.5333333333);
  border-radius: 0.2rem;
}
footer .footer-contact .form-container div {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: none;
}
footer .footer-contact .form-container div input {
  width: 1rem;
}
footer .footer-contact .form-container div label {
  color: #fbfbfb;
  background: none;
}
footer .footer-contact .form-container button {
  width: 100%;
  padding: 0.375rem;
  outline: none;
  border: 1px solid #1591EA;
  color: #fbfbfb;
  background-color: #1591EA;
  border-radius: 0.2rem;
}

body {
  /* linear-gradient(340deg, rgb(21, 145, 234) -47%, rgb(6, 6, 6) 93%) */
  background: linear-gradient(340deg, rgb(21, 145, 234) -25%, rgb(6, 6, 6) 75%);
}

.main-container {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.main-container .title-container {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.main-container .title-container h1 {
  background: transparent;
  color: #fbfbfb;
  font-size: 5rem;
  font-weight: 400;
}
.main-container .title-container svg {
  background: transparent;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main-container .stepbystep-container {
  width: 60rem;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
}
.main-container .stepbystep-container .step-container {
  height: fit-content;
  width: 25%;
  background: transparent;
}
.main-container .stepbystep-container .step-container .step-1 {
  padding: 1rem;
  text-align: center;
  border-radius: 0.375rem;
  background-color: #1591EA;
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  height: 53px;
}
.main-container .stepbystep-container .step-container .step-1 h4 {
  color: #fbfbfb;
  background: transparent;
  font-weight: 600;
  font-size: 0.9rem;
}
.main-container .stepbystep-container .step-container .step-2 {
  padding: 1rem;
  text-align: center;
  border-radius: 0.375rem;
  background-color: #1591EA;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  height: 53px;
}
.main-container .stepbystep-container .step-container .step-2 h4 {
  color: #fbfbfb;
  background: transparent;
  font-weight: 600;
  font-size: 0.9rem;
}
.main-container .stepbystep-container .step-container .step-2 svg {
  color: #fbfbfb;
  background: transparent;
}
.main-container .stepbystep-container .step-container .step-3 {
  width: 100%;
  background-color: #1591EA;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.375rem;
}
.main-container .stepbystep-container .step-container .step-3 .step-3-item {
  padding: 1rem;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: #fbfbfb;
  background-color: #212121;
}
.main-container .stepbystep-container .step-container .step-3 .step-3-item svg {
  color: #fbfbfb;
  background-color: transparent;
}
.main-container .stepbystep-container .step-container .step-3 .step-3-item h4 {
  background: transparent;
  font-weight: 500;
}
.main-container .stepbystep-container .svg-container {
  width: 15%;
  display: flex;
  justify-content: center;
  background: none;
  align-items: center;
}
.main-container .stepbystep-container .svg-container svg {
  background: none;
  color: #fbfbfb;
}

.line-divisor {
  width: 60rem;
  height: 1px;
  color: #fbfbfb;
}

.info-section {
  height: fit-content;
  width: 60rem;
  background: transparent;
}
.info-section .info-paragraph {
  font-size: 1.2rem;
  color: #fbfbfb;
  background: none;
}
.info-section .info-items-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: none;
  padding-left: 2rem;
  padding-block: 2rem;
}
.info-section .info-items-container .info-items {
  background: none;
  display: flex;
  align-items: center;
}
.info-section .info-items-container .info-items svg {
  background: none;
  color: #fbfbfb;
}
.info-section .info-items-container .info-items span {
  background: none;
  color: #fbfbfb;
}

.register-main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: none;
  align-items: center;
  /* animation: fadeIn 1s forwards; */
}
.register-main-container .register-title-container {
  background: none;
}
.register-main-container .register-title-container h2 {
  background: none;
  color: #fbfbfb;
  text-shadow: 3px 2px 7px #fbfbfb;
}
.register-main-container .form-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgba($color: #000000, $alpha: 0.5); */
  background-color: #181a21;
  border-radius: 0.5rem;
  width: fit-content;
}
.register-main-container .form-register-container form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  background: none;
}
.register-main-container .form-register-container form .form-prompt {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: none;
}
.register-main-container .form-register-container form .form-prompt .form-prompt-label {
  background: none;
  color: #1591EA;
  font-weight: 600;
  font-size: 0.8rem;
  width: fit-content;
}
.register-main-container .form-register-container form .form-prompt .form-prompt-input {
  padding: 0.5rem;
  background: #32353c;
  border: none;
  outline: none;
  border: 1px solid #32353c;
  border-radius: 0.2rem;
  color: #fbfbfb;
}
.register-main-container .form-register-container form .form-prompt .form-prompt-input:focus {
  border: 1px solid #1591EA;
}
.register-main-container .form-register-container form .form-prompt .country-selector {
  padding: 0.5rem;
  background: #32353c;
  border: 1px solid #32353c;
  border-radius: 0.2rem;
  color: rgba(251, 251, 251, 0.168627451);
  display: flex;
  gap: 1rem;
}
.register-main-container .form-register-container form .form-prompt .country-selector img {
  width: 2rem;
}
.register-main-container .form-register-container form .form-prompt .country-selector span {
  background: none;
}
.register-main-container .form-register-container form .form-prompt .country-selector-dropdown {
  padding: 0.5rem;
  background-color: #32353c;
  gap: 1rem;
  display: none;
  position: absolute;
  width: 26rem;
  transform: translateY(3.5rem);
}
.register-main-container .form-register-container form .form-prompt .country-selector-dropdown .country-selector-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  background-color: #32353c;
  cursor: pointer;
  border-radius: 0.2rem;
}
.register-main-container .form-register-container form .form-prompt .country-selector-dropdown .country-selector-option img {
  width: 2rem;
}
.register-main-container .form-register-container form .form-prompt .country-selector-dropdown .country-selector-option span {
  background: none;
  color: #fbfbfb;
}
.register-main-container .form-register-container form .form-prompt .country-selector-dropdown .country-selector-option:hover {
  background-color: #0C5284;
}
.register-main-container .form-register-container form .form-prompt .displayBlock {
  display: block;
}
.register-main-container .form-register-container form .form-prompt .picSelectionContainer {
  display: flex;
  justify-content: space-between;
  background: none;
}
.register-main-container .form-register-container form .form-prompt .picSelectionContainer img {
  width: 20%;
  filter: grayscale(100%) brightness(50%);
  transition: 0.2s ease-in-out;
  border-radius: 0.5rem;
}
.register-main-container .form-register-container form .form-prompt .picSelectionContainer img:hover {
  filter: grayscale(0%) brightness(100%);
}
.register-main-container .form-register-container form .form-prompt .uploadInput {
  display: none;
}
.register-main-container .form-register-container form .name-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: none;
}
.register-main-container .form-register-container form .name-input div {
  display: flex;
  flex-direction: column;
  background: none;
}
.register-main-container .form-register-container form .form-checkbox {
  background: none;
  display: flex;
  gap: 0.2rem;
}
.register-main-container .form-register-container form .form-checkbox input {
  background: none;
}
.register-main-container .form-register-container form .form-checkbox span {
  background: none;
  color: #fbfbfb;
}
.register-main-container .form-register-container form .form-checkbox span a {
  background: none;
  color: #fbfbfb;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.register-main-container .form-register-container form .form-checkbox span a:hover {
  color: #1591EA;
}
.register-main-container .form-register-container form .submitButton {
  padding: calc(0.5rem + 1px);
  border: none;
  color: #fbfbfb;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: 600;
  background: #0C5284;
  transition: 0.2s ease-in-out;
}
.register-main-container .form-register-container form .submitButton:hover {
  background: #1591EA;
}
.register-main-container .form-register-container form .uploadButton {
  padding: calc(0.5rem + 1px);
  color: #fbfbfb;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid #32353c;
  background: #32353c;
  transition: 0.2s ease-in-out;
}
.register-main-container .form-register-container form .uploadButton:hover {
  border: 1px solid rgba(251, 251, 251, 0.5333333333);
}
.register-main-container .svgContainer {
  background: none;
  position: relative;
  top: -50vh;
}
.register-main-container .svgContainer svg {
  background: none;
}

.fadeIn {
  animation: fadeIn 0.5s forwards;
}

.fadeOut {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
