@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
/* $main-dark: #212121; */
/* $main-white: #fbfbfb; */
/* $main-blue: #1591EA; */
/* $darker-blue: #0C5284; */
/* #3F9A59 green-money */
/* #15341E green-wish */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fbfbfb;
  font-family: "DM Sans", sans-serif;
}

body {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.navBar {
  width: 100%;
  height: 4.5rem;
  background-color: #212121;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
}
.navBar .logo-container {
  background-color: #212121;
}
.navBar .logo-container svg {
  background-color: #212121;
  height: fit-content;
  width: fit-content;
}
.navBar .menu-container {
  display: flex;
  position: relative;
  height: 100%;
}
.navBar .menu-container .menu-list-container {
  display: flex;
  position: relative;
  gap: 8rem;
  list-style: none;
  background-color: #212121;
  font-size: 1rem;
  font-weight: 500;
}
.navBar .menu-container .menu-list-container .menu-item {
  padding: 1.4rem;
  background-color: #212121;
  width: 8rem;
}
.navBar .menu-container .menu-list-container .menu-item a {
  text-decoration: none;
  background-color: #212121;
  color: #fbfbfb;
  display: flex;
  position: relative;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.navBar .menu-container .menu-list-container .menu-item:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
.navBar .menu-container .menu-list-container .menu-item .dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4.5rem;
  width: 8rem;
  gap: 0rem;
  transform: translateX(-1.5rem);
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.navBar .menu-container .menu-list-container .menu-item .dropdown-menu li {
  background-color: #212121;
  color: #fbfbfb;
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  list-style: none;
}
.navBar .profile-menu-container {
  width: fit-content;
  height: fit-content;
  background: transparent;
}
.navBar .profile-menu-container #profile-container {
  height: 3.5rem;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: #32353c;
  border-radius: 0.2rem;
  display: none;
}
.navBar .profile-menu-container #profile-container .profile-img {
  height: 2.5rem;
}
.navBar .profile-menu-container #profile-container .profile-nick {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fbfbfb;
  background: transparent;
}
.navBar .profile-menu-container #profile-container #profileMenuArrow {
  background: transparent;
  color: #fbfbfb;
}

.info-bar {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 3rem;
  width: 100%;
  background-color: transparent;
  gap: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  padding-inline: 5rem;
}
@media screen {
  .info-bar {
    max-width: 1500px;
    align-items: center;
    justify-content: center;
  }
}
.info-bar .info-bar-money {
  height: 100%;
  width: 20%;
  background-color: #755FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.info-bar .info-bar-money a {
  background-color: transparent;
  color: #fbfbfb;
}
.info-bar .info-bar-nav {
  height: 100%;
  width: 60%;
  background: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.info-bar .info-bar-nav a {
  background-color: transparent;
  text-decoration: none;
  color: #fbfbfb;
}
.info-bar .info-bar-wishlist {
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, #755FFF, #C854FF);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}
.info-bar .info-bar-wishlist a {
  background-color: transparent;
  text-decoration: none;
  color: #fbfbfb;
}
.info-bar .info-bar-wishlist .wishlist-counter {
  background-color: transparent;
  color: rgba(245, 245, 245, 0.6352941176);
}

footer {
  width: 100%;
  height: fit-content;
  background-color: #212121;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
  gap: 2rem;
}
footer .footer-title {
  width: 40rem;
  height: fit-content;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: none;
}
footer .footer-title h4 {
  font-size: 2rem;
  background: none;
  color: #fbfbfb;
}
footer .footer-title svg {
  position: relative;
  top: 1px;
  background: none;
}
footer .footer-info-container {
  width: 40rem;
  display: flex;
  justify-content: space-between;
  background: none;
}
footer .footer-info-container .footer-datalist {
  background: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footer-info-container .footer-datalist h4 {
  color: #755FFF;
  text-align: center;
  background: none;
}
footer .footer-info-container .footer-datalist .footer-datalist-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  gap: 0.5rem;
}
footer .footer-info-container .footer-datalist .footer-datalist-items .datalist-item {
  background: none;
}
footer .footer-info-container .footer-datalist .footer-datalist-items .datalist-item a {
  background: none;
  color: #fbfbfb;
  text-decoration: none;
  font-weight: 500;
}
footer .footer-contact {
  width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: none;
  border-top: 1px solid #3d3d3d;
  padding-top: 2rem;
}
footer .footer-contact .svg-footer-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  gap: 1rem;
  background: none;
}
footer .footer-contact .svg-footer-container svg {
  color: #fbfbfb;
  background: none;
}
footer .footer-contact .form-container {
  height: fit-content;
  background: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer .footer-contact .form-container input {
  width: 100%;
  padding: 0.375rem;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.5333333333);
  border-radius: 0.2rem;
}
footer .footer-contact .form-container div {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: none;
}
footer .footer-contact .form-container div input {
  width: 1rem;
}
footer .footer-contact .form-container div label {
  color: #fbfbfb;
  background: none;
}
footer .footer-contact .form-container button {
  width: 100%;
  padding: 0.375rem;
  outline: none;
  border: 1px solid #755FFF;
  color: #fbfbfb;
  background-color: #755FFF;
  border-radius: 0.2rem;
}

body {
  /* background: linear-gradient(340deg, rgba(21, 145, 234, 1) -25%, rgba(6, 6, 6, 1) 75%); */
  background: linear-gradient(340deg, #755FFF -25%, #181818 75%);
}

.main-container {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding-block: 5rem;
}
.main-container .title-container {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.main-container .title-container h1 {
  background: transparent;
  color: #fbfbfb;
  font-size: 5rem;
  font-weight: 400;
}
.main-container .title-container svg {
  background: transparent;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main-container .stepbystep-container {
  width: 60rem;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
}
.main-container .stepbystep-container .step-container {
  height: fit-content;
  width: 25%;
  background: transparent;
}
.main-container .stepbystep-container .step-container .step-1 {
  padding: 1rem;
  text-align: center;
  border-radius: 0.375rem;
  background-color: #1591EA;
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  height: 53px;
}
.main-container .stepbystep-container .step-container .step-1 a {
  text-decoration: none;
}
.main-container .stepbystep-container .step-container .step-1 a h4 {
  color: #fbfbfb;
  background: transparent;
  font-weight: 600;
  font-size: 0.9rem;
}
.main-container .stepbystep-container .step-container .step-2 {
  padding: 1rem;
  text-align: center;
  border-radius: 0.375rem;
  background-color: #1591EA;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  height: 53px;
}
.main-container .stepbystep-container .step-container .step-2 h4 {
  color: #fbfbfb;
  background: transparent;
  font-weight: 600;
  font-size: 0.9rem;
}
.main-container .stepbystep-container .step-container .step-2 svg {
  color: #fbfbfb;
  background: transparent;
}
.main-container .stepbystep-container .step-container .step-3 {
  width: 100%;
  background-color: #1591EA;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.375rem;
}
.main-container .stepbystep-container .step-container .step-3 .step-3-item {
  padding: 1rem;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: #fbfbfb;
  background-color: #212121;
}
.main-container .stepbystep-container .step-container .step-3 .step-3-item svg {
  color: #fbfbfb;
  background-color: transparent;
}
.main-container .stepbystep-container .step-container .step-3 .step-3-item h4 {
  background: transparent;
  font-weight: 500;
}
.main-container .stepbystep-container .svg-container {
  width: 15%;
  display: flex;
  justify-content: center;
  background: none;
  align-items: center;
}
.main-container .stepbystep-container .svg-container svg {
  background: none;
  color: #fbfbfb;
}

.line-divisor {
  width: 60rem;
  height: 1px;
  color: #fbfbfb;
}

.info-section {
  height: fit-content;
  width: 60rem;
  background: transparent;
  padding-block: 5rem;
}
.info-section .info-paragraph {
  font-size: 1.2rem;
  color: #fbfbfb;
  background: none;
}
.info-section .info-items-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: none;
  padding-left: 2rem;
  padding-block: 2rem;
}
.info-section .info-items-container .info-items {
  background: none;
  display: flex;
  align-items: center;
}
.info-section .info-items-container .info-items svg {
  background: none;
  color: #fbfbfb;
}
.info-section .info-items-container .info-items span {
  background: none;
  color: #fbfbfb;
}

.register-main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: none;
  align-items: center;
  justify-content: center;
  padding-block: 10rem;
  height: 90vh;
}
.register-main-container .register-title-container {
  background: none;
}
.register-main-container .register-title-container h2 {
  background: none;
  color: #fbfbfb;
  text-shadow: 3px 2px 7px #fbfbfb;
}
.register-main-container .form-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181a21;
  border-radius: 0.5rem;
  width: fit-content;
}
.register-main-container .form-register-container form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  background: none;
}
.register-main-container .form-register-container form .form-prompt {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: none;
}
.register-main-container .form-register-container form .form-prompt .form-prompt-label {
  background: none;
  color: #755FFF;
  font-weight: 600;
  font-size: 0.8rem;
  width: fit-content;
}
.register-main-container .form-register-container form .form-prompt .form-prompt-input {
  padding: 0.5rem;
  background: #32353c;
  outline: none;
  border: 1px solid #32353c;
  border-radius: 0.2rem;
  color: #fbfbfb;
}
.register-main-container .form-register-container form .form-prompt .form-prompt-input:focus {
  border: 1px solid #755FFF;
}
.register-main-container .form-register-container form .form-prompt .country-selector {
  padding: 0.5rem;
  background: #32353c;
  border: 1px solid #32353c;
  border-radius: 0.2rem;
  color: rgba(251, 251, 251, 0.168627451);
  display: flex;
  gap: 1rem;
}
.register-main-container .form-register-container form .form-prompt .country-selector img {
  width: 2rem;
}
.register-main-container .form-register-container form .form-prompt .country-selector span {
  background: none;
}
.register-main-container .form-register-container form .form-prompt .country-selector-dropdown {
  padding: 0.5rem;
  background-color: #32353c;
  gap: 1rem;
  display: none;
  position: absolute;
  width: 26rem;
  transform: translateY(3.5rem);
}
.register-main-container .form-register-container form .form-prompt .country-selector-dropdown .country-selector-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  background-color: #32353c;
  cursor: pointer;
  border-radius: 0.2rem;
}
.register-main-container .form-register-container form .form-prompt .country-selector-dropdown .country-selector-option img {
  width: 2rem;
}
.register-main-container .form-register-container form .form-prompt .country-selector-dropdown .country-selector-option span {
  background: none;
  color: #fbfbfb;
}
.register-main-container .form-register-container form .form-prompt .country-selector-dropdown .country-selector-option:hover {
  background-color: #C854FF;
}
.register-main-container .form-register-container form .form-prompt .displayBlock {
  display: block;
}
.register-main-container .form-register-container form .form-prompt .picSelectionContainer {
  display: flex;
  justify-content: space-between;
  background: none;
}
.register-main-container .form-register-container form .form-prompt .picSelectionContainer img {
  width: 20%;
  filter: grayscale(100%) brightness(50%);
  transition: 0.2s ease-in-out;
  border-radius: 0.5rem;
}
.register-main-container .form-register-container form .form-prompt .picSelectionContainer img:hover {
  filter: grayscale(0%) brightness(100%);
}
.register-main-container .form-register-container form .form-prompt .uploadInput {
  display: none;
}
.register-main-container .form-register-container form .name-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: none;
}
.register-main-container .form-register-container form .name-input div {
  display: flex;
  flex-direction: column;
  background: none;
}
.register-main-container .form-register-container form .form-checkbox {
  background: none;
  display: flex;
  gap: 0.2rem;
}
.register-main-container .form-register-container form .form-checkbox input {
  background: none;
}
.register-main-container .form-register-container form .form-checkbox label {
  background: none;
  color: #fbfbfb;
}
.register-main-container .form-register-container form .form-checkbox label a {
  background: none;
  color: #C854FF;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.register-main-container .form-register-container form .form-checkbox label a:hover {
  color: #755FFF;
}
.register-main-container .form-register-container form .submitButton {
  padding: calc(0.5rem + 1px);
  border: none;
  color: #fbfbfb;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: 600;
  background: #C854FF;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.register-main-container .form-register-container form .submitButton:hover {
  background: #755FFF;
}
.register-main-container .form-register-container form .uploadButton {
  padding: calc(0.5rem + 1px);
  color: #fbfbfb;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid #32353c;
  background: #32353c;
  transition: 0.2s ease-in-out;
}
.register-main-container .form-register-container form .uploadButton:hover {
  border: 1px solid rgba(251, 251, 251, 0.5333333333);
}
.register-main-container .svgContainer {
  background: none;
  position: relative;
}
.register-main-container .svgContainer svg {
  background: none;
}

.fadeIn {
  animation: fadeIn 0.5s forwards;
}

.fadeOut {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.continueButton {
  padding: calc(0.5rem + 1px);
  border: none;
  color: #fbfbfb;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #C854FF;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.continueButton:hover {
  background-color: #755FFF;
}

.error {
  border: 1px solid red !important;
}

.store-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #3d3d3d;
  padding-block: 2.5rem;
  gap: 0.5rem;
}
.store-main-container .banner-container {
  position: relative;
  object-fit: content;
  height: fit-content;
  width: 100%;
  padding-inline: 5rem;
  background: transparent;
}
@media screen {
  .store-main-container .banner-container {
    max-width: 1500px;
  }
}
.store-main-container .banner-container .banner-img {
  width: 100%;
  display: flex;
}
.store-main-container .store-info-container {
  display: flex;
  position: relative;
  height: fit-content;
  width: 100%;
  padding-inline: 5rem;
  background: transparent;
  background-color: transparent;
  gap: 0.5rem;
}
@media screen {
  .store-main-container .store-info-container {
    max-width: 1500px;
  }
}
.store-main-container .store-info-container .store-column-categories {
  width: 20%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #3d3d3d;
}
.store-main-container .store-info-container .store-column-categories .categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: start;
  background-color: rgba(33, 33, 33, 0.3647058824);
}
.store-main-container .store-info-container .store-column-categories .categories-container .category-selector {
  list-style: none;
  width: 100%;
  background-color: #181818;
  padding: 0.2rem;
  transition: 0.2s ease-in-out;
}
.store-main-container .store-info-container .store-column-categories .categories-container .category-selector a {
  display: flex;
  text-decoration: none;
  background-color: transparent;
  text-decoration: none;
  color: #fbfbfb;
  font-weight: 400;
  width: 100%;
}
.store-main-container .store-info-container .store-column-categories .search-container {
  display: flex;
  height: 2.5rem;
  width: 100%;
  justify-content: end;
  background-color: #3d3d3d;
}
.store-main-container .store-info-container .store-column-categories .search-container #search-game-input {
  width: 80%;
  border: 1px solid #181818;
  border-radius: 0.1rem 0 0 0.1rem;
  outline: none;
  padding: 0.5rem;
  background: #3d3d3d;
  box-shadow: inset 0px 0px 5px 2px #181818;
  color: #fbfbfb;
  font-size: 1.2rem;
}
.store-main-container .store-info-container .store-column-categories .search-container #search-game-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #181818;
  border-left: none;
  border-radius: 0 0.1rem 0.1rem 0;
  width: 20%;
  cursor: pointer;
  background-color: #3d3d3d;
}
.store-main-container .store-info-container .store-column-categories .search-container #search-game-button svg {
  background-color: #3d3d3d;
  fill: #fbfbfb;
}
.store-main-container .store-info-container .store-column-search {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 60%;
  height: fit-content;
  background-color: transparent;
}
.store-main-container .store-info-container .store-column-search .games-container {
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: transparent;
  flex-direction: column;
  gap: 0.5rem;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard {
  display: flex;
  background-color: transparent;
  transition: 0.2s ease-in-out;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard:hover {
  box-shadow: 5px 5px 4px 0px;
  transform: translate(-5px, -5px);
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardLeft {
  width: 50%;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardLeft .gameHorizontalImage {
  width: 100%;
  height: 100%;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardRight {
  width: 50%;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardRight .titleContainer {
  text-align: center;
  background: transparent;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardRight .titleContainer .gameName {
  background: transparent;
  color: #fbfbfb;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardRight .infoContainer {
  display: flex;
  background-color: transparent;
  align-items: end;
  justify-content: end;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .priceContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 50%;
  background-color: transparent;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .priceContainer .gameOriginalPriceContainer {
  background-color: transparent;
  color: rgba(245, 245, 245, 0.6352941176);
  text-decoration: line-through;
  width: 40%;
  display: flex;
  justify-content: center;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .priceContainer .finalGamePriceContainer {
  display: flex;
  gap: 0.5rem;
  background-color: transparent;
  align-items: center;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .priceContainer .finalGamePriceContainer .gamePrice {
  text-align: center;
  justify-content: center;
  width: 40%;
  background-color: transparent;
  color: #BEEE11;
  font-size: 1.4rem;
  font-weight: 500;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .priceContainer .finalGamePriceContainer .discountAmount {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  background: linear-gradient(to right, #755FFF, #C854FF);
  color: #fbfbfb;
  font-weight: 500;
  padding: 0.3rem 0.5rem;
  height: fit-content;
  width: fit-content;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .buttonsAlertsContainer {
  width: 50%;
  background-color: transparent;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .buttonsAlertsContainer .addAnimationContainer {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fbfbfb;
  background: linear-gradient(to right, #755FFF, #C854FF);
  border-radius: 0.2rem;
  opacity: 0;
  visibility: hidden;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .buttonsAlertsContainer .buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  background: transparent;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .buttonsAlertsContainer .buttonsContainer button {
  width: 50%;
  height: 2rem;
  border-radius: 0.2rem;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .buttonsAlertsContainer .buttonsContainer .cartButton {
  border: 1px solid #755FFF;
  background-color: #755FFF;
  color: #fbfbfb;
  font-weight: 500;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .buttonsAlertsContainer .buttonsContainer .addLibraryButton {
  border: 1px solid #755FFF;
  background-color: #755FFF;
  color: #fbfbfb;
  font-weight: 500;
}
.store-main-container .store-info-container .store-column-search .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .buttonsAlertsContainer .buttonsContainer .wishlistButton {
  border: 1px solid #755FFF;
  background: transparent;
  color: #755FFF;
  font-weight: 500;
}
.store-main-container .store-info-container .store-column-data {
  display: flex;
  width: 20%;
  height: 500px;
  background-color: red;
}

.fadeIn {
  animation: fadeIn 1s forwards;
}

.fadeOut {
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.category-selected {
  scale: 1.07;
  background: linear-gradient(to right, #755FFF, #C854FF);
}

/* body {
    background: $third-dark;
} */
.wishlist-section {
  display: flex;
  position: relative;
  width: 100%;
  padding-inline: 5rem;
  background: transparent;
  height: fit-content;
  background: transparent;
  justify-content: center;
  padding-block: 5rem;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen {
  .wishlist-section {
    max-width: 1500px;
  }
}
.wishlist-section .wishlist-container {
  background-color: #3d3d3d;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
}
.wishlist-section .wishlist-container .profile-wishlist {
  display: flex;
  flex-direction: row;
  height: 5rem;
  gap: 2rem;
  background-color: transparent;
}
.wishlist-section .wishlist-container .profile-wishlist .profile-nickname {
  background: transparent;
  color: #fbfbfb;
  height: 100%;
  display: flex;
  align-items: center;
}
.wishlist-section .wishlist-container .input-container {
  height: 5rem;
  background: transparent;
  display: flex;
  align-items: center;
}
.wishlist-section .wishlist-container .input-container .input-wishlist {
  height: 2rem;
  border: 1px solid #181818;
  outline: none;
  display: flex;
  padding: 0.5rem;
  background-color: transparent;
  box-shadow: inset 0px 0px 5px 2px #181818;
  color: #fbfbfb;
}
.wishlist-section .wishlist-container .input-container .search-game-wishlist {
  height: 2rem;
  border: 1px solid #181818;
  border-left: none;
  background: transparent;
  display: flex;
  align-items: center;
  padding-inline: 0.5rem 0.5rem;
  color: #755FFF;
}
.wishlist-section .wishlist-container .input-container .search-game-wishlist svg {
  background: transparent;
}
.wishlist-section .games-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 0.5rem;
  background: transparent;
}
.wishlist-section .games-container .gameHorizontalCard {
  display: flex;
  background-color: transparent;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardLeft {
  width: 50%;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardLeft .gameHorizontalImage {
  width: 100%;
  height: 100%;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardRight {
  width: 50%;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardRight .titleContainer {
  text-align: center;
  background: transparent;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardRight .titleContainer .gameName {
  background: transparent;
  color: #fbfbfb;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardRight .infoContainer {
  display: flex;
  background-color: transparent;
  align-items: end;
  justify-content: end;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .priceContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  width: 50%;
  background-color: transparent;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .priceContainer .gameOriginalPriceContainer {
  background-color: transparent;
  color: rgba(245, 245, 245, 0.6352941176);
  text-decoration: line-through;
  width: fit-content;
  padding-left: 1.2rem;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .priceContainer .finalGamePriceContainer {
  display: flex;
  gap: 0.5rem;
  background-color: transparent;
  align-items: center;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .priceContainer .finalGamePriceContainer .gamePrice {
  text-align: center;
  justify-content: center;
  width: 40%;
  background-color: transparent;
  color: #BEEE11;
  font-size: 1.4rem;
  font-weight: 500;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .priceContainer .finalGamePriceContainer .discountAmount {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  background: linear-gradient(to right, #755FFF, #C854FF);
  color: #fbfbfb;
  font-weight: 500;
  padding: 0.3rem 0.5rem;
  height: fit-content;
  width: fit-content;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .buttonsAlertsContainer {
  width: 50%;
  background-color: transparent;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .buttonsAlertsContainer .addAnimationContainer {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fbfbfb;
  background: linear-gradient(to right, #755FFF, #C854FF);
  border-radius: 0.2rem;
  opacity: 0;
  visibility: hidden;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .buttonsAlertsContainer .buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  background: transparent;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .buttonsAlertsContainer .buttonsContainer button {
  width: 50%;
  height: 2rem;
  border-radius: 0.2rem;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .buttonsAlertsContainer .buttonsContainer .cartButton {
  border: 1px solid #755FFF;
  background-color: #755FFF;
  color: #fbfbfb;
  font-weight: 500;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .buttonsAlertsContainer .buttonsContainer .addLibraryButton {
  border: 1px solid #755FFF;
  background-color: #755FFF;
  color: #fbfbfb;
  font-weight: 500;
}
.wishlist-section .games-container .gameHorizontalCard .horizontalCardRight .infoContainer .buttonsAlertsContainer .buttonsContainer .wishlistButton {
  border: 1px solid #755FFF;
  background: transparent;
  color: #755FFF;
  font-weight: 500;
}

.game-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-inline: 5rem;
  padding-block: 2rem;
  background-color: transparent;
  gap: 2.5rem;
}
@media screen {
  .game-card {
    max-width: 1500px;
    justify-content: center;
  }
}
.game-card .header-container {
  display: flex;
  border-radius: 0.75rem;
  background: none;
}
.game-card .header-container img {
  overflow: hidden;
  border-radius: 0.75rem;
}
.game-card .card-info {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  background-color: #1A1A1A;
  border-radius: 0.75rem;
}
.game-card .card-info .title-info-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.game-card .card-info .title-info-container .title-container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}
.game-card .card-info .title-info-container .title-container .game-title {
  color: #fbfbfb;
  background-color: transparent;
}
.game-card .card-info .title-info-container .title-container .btn-wishlist {
  width: 10rem;
  outline: none;
  border: 1px solid #C854FF;
  color: #C854FF;
  background: transparent;
  border-radius: 0.2rem;
  font-weight: 700;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.game-card .card-info .title-info-container .title-container .btn-wishlist:hover {
  background: linear-gradient(to right, #755FFF, #C854FF);
  color: #fbfbfb;
}
.game-card .card-info .title-info-container .rating-container {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.game-card .card-info .title-info-container .rating-container svg {
  background: transparent;
  color: rgba(245, 245, 245, 0.6352941176);
}
.game-card .card-info .title-info-container .rating-container span {
  background: transparent;
  color: rgba(245, 245, 245, 0.6352941176);
}
.game-card .card-info .game-img-specs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: transparent;
}
.game-card .card-info .game-img-specs .images-container {
  width: 60%;
  display: flex;
}
.game-card .card-info .game-img-specs .images-container .img-main {
  display: flex;
  width: 100%;
}
.game-card .card-info .game-img-specs .images-container .img-main img {
  overflow: hidden;
  width: 100%;
}
.game-card .card-info .game-img-specs .specs-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline: 2rem;
  background: transparent;
}
.game-card .card-info .game-img-specs .specs-container h4 {
  color: #fbfbfb;
  background: transparent;
}
.game-card .card-info .game-img-specs .specs-container .specs-info-dev {
  background: transparent;
}
.game-card .card-info .game-img-specs .specs-container .specs-info-dev a {
  color: rgba(245, 245, 245, 0.6352941176);
  background: transparent;
  text-decoration: none;
}
.game-card .card-info .game-img-specs .specs-container .specs-info-dev span {
  color: #fbfbfb;
  background: transparent;
}
.game-card .card-info .game-img-specs .specs-container .specs-info-date {
  background: transparent;
}
.game-card .card-info .game-img-specs .specs-container .specs-info-date :nth-child(1) {
  color: #fbfbfb;
  background: transparent;
}
.game-card .card-info .game-img-specs .specs-container .specs-info-date :nth-child(2) {
  color: rgba(245, 245, 245, 0.6352941176);
  background: transparent;
}
.game-card .card-info .game-img-specs .specs-container .specs-info-cat {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.game-card .card-info .game-img-specs .specs-container .specs-info-cat .cat-title {
  background: transparent;
  color: #fbfbfb;
}
.game-card .card-info .game-img-specs .specs-container .specs-info-cat #categories-container {
  background-color: transparent;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: fit-content;
  gap: 0.5rem;
}
.game-card .card-info .game-img-specs .specs-container .specs-info-cat #categories-container span {
  background: linear-gradient(to right, #755FFF, #C854FF);
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
  color: #fbfbfb;
  filter: opacity(0.7);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.game-card .card-info .game-img-specs .specs-container .specs-info-cat #categories-container span:hover {
  filter: opacity(1);
}
.game-card .card-info .game-description-price {
  display: flex;
  width: 100%;
  background: transparent;
}
.game-card .card-info .game-description-price .game-description-container {
  width: 60%;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.game-card .card-info .game-description-price .game-description-container h4 {
  background: transparent;
  color: #fbfbfb;
}
.game-card .card-info .game-description-price .game-description-container span {
  background: transparent;
  color: rgba(245, 245, 245, 0.6352941176);
}
.game-card .card-info .game-description-price .game-price-card {
  padding-inline: 2rem;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 40%;
  align-items: center;
}
.game-card .card-info .game-description-price .game-price-card .price-container {
  display: flex;
  flex-direction: column;
  background: transparent;
  width: 11rem;
}
.game-card .card-info .game-description-price .game-price-card .price-container .initial-price-container {
  background: transparent;
}
.game-card .card-info .game-description-price .game-price-card .price-container .initial-price-container .initial-price {
  color: rgba(245, 245, 245, 0.6352941176);
  background: transparent;
  text-decoration: line-through;
}
.game-card .card-info .game-description-price .game-price-card .price-container .final-price-container {
  background: transparent;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.game-card .card-info .game-description-price .game-price-card .price-container .final-price-container .final-price {
  font-size: 1.5rem;
  background: transparent;
  color: #BEEE11;
  font-weight: 500;
}
.game-card .card-info .game-description-price .game-price-card .price-container .final-price-container .discount-amount {
  font-size: 1rem;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #755FFF, #C854FF);
  color: #fbfbfb;
  font-weight: 600;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
}
.game-card .card-info .game-description-price .game-price-card .price-container .final-price-container-noDiscount {
  background: transparent;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.game-card .card-info .game-description-price .game-price-card .price-container .final-price-container-noDiscount .final-price {
  font-size: 1.5rem;
  background: transparent;
  color: #BEEE11;
  font-weight: 500;
}
.game-card .card-info .game-description-price .game-price-card .buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: transparent;
  width: 11rem;
}
.game-card .card-info .game-description-price .game-price-card .buttons-container .buy-btn {
  padding: 0.6rem;
  outline: none;
  border-radius: 0.2rem;
  font-weight: 500;
  background: #7FA721;
  border: 1px solid #1A1A1A;
  color: #fbfbfb;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.game-card .card-info .game-description-price .game-price-card .buttons-container .buy-btn:hover {
  box-shadow: inset 0px 0px 5px 2px #1A1A1A;
  text-shadow: 1px 1px 3px #1A1A1A;
}
.game-card .card-info .game-description-price .game-price-card .buttons-container .cart-btn {
  padding: 0.6rem;
  outline: none;
  border-radius: 0.2rem;
  font-weight: 500;
  background: transparent;
  color: #C854FF;
  border: 1px solid #C854FF;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.game-card .card-info .game-description-price .game-price-card .buttons-container .cart-btn:hover {
  background: #C854FF;
  color: #fbfbfb;
}
.game-card .card-info .game-description-price .game-price-card .buttons-container .add-library-btn {
  padding: 0.6rem;
  outline: none;
  border-radius: 0.2rem;
  font-weight: 500;
  background: #C854FF;
  color: #fbfbfb;
  border: 1px solid #1a1a1a;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.game-card .card-info .game-description-price .game-price-card .buttons-container .add-library-btn:hover {
  box-shadow: inset 0px 0px 5px 2px #1A1A1A;
  text-shadow: 1px 1px 3px #1A1A1A;
}

.removeGame {
  border: 1px solid #d64242;
  color: #d64242;
  width: 10rem;
  outline: none;
  background: transparent;
  border-radius: 0.2rem;
  font-weight: 700;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.removeGame:hover {
  color: #fbfbfb;
  background: #d64242;
}

/*# sourceMappingURL=style.css.map */
