
// FONTS

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

// COLORS

/* $main-dark: #212121; */
/* $main-white: #fbfbfb; */
/* $main-blue: #1591EA; */
/* $darker-blue: #0C5284; */
/* #3F9A59 green-money */
/* #15341E green-wish */


//  ALTERNATE COLORS

$main-dark: #181818;
$second-dark: #161616;
$third-dark: #212121;
$main-white: #fbfbfb;
$main-blue: #755FFF;
$darker-blue: #C854FF;
$main-gray: #f5f5f5a2;
$second-gray: #3d3d3d;
$warning: #da1e28;
