
.game-card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-inline: 5rem;
    padding-block: 2rem;
    background-color: transparent;
    gap: 2.5rem;

    @media screen {
        max-width: 1500px;
        justify-content: center;
    };

    .header-container {
        display: flex;
        border-radius: 0.75rem;
        background: none;

        img {
            overflow: hidden;
            border-radius: 0.75rem;
        }
    }

    .card-info {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;
        background-color: #1A1A1A;
        border-radius: 0.75rem;

        .title-info-container {
            display: flex;
            flex-direction: column;
            background-color: transparent;
    
            .title-container {
                display: flex;
                justify-content: space-between;
                background-color: transparent;

                .game-title {
                    color: $main-white;
                    background-color: transparent;
                }

                .btn-wishlist {
                    width: 10rem;
                    outline: none;
                    border: 1px solid $darker-blue;
                    color: $darker-blue;
                    background: transparent;
                    border-radius: 0.2rem;
                    font-weight: 700;
                    transition: 0.2s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        background: linear-gradient(to right, #755FFF, #C854FF);
                        color: $main-white;
                    }
                }
            }

            .rating-container {
                background: transparent;
                display: flex;
                align-items: center;
                gap: 0.2rem;

                svg {
                    background: transparent;
                    color: $main-gray;
                }

                span {
                    background: transparent;
                    color: $main-gray;
                }
            }
        }

        .game-img-specs {
            display: flex;
            justify-content: space-around;
            width: 100%;
            background: transparent;

            .images-container {
                width: 60%;
                display: flex;

                .img-main {
                    display: flex;
                    width: 100%;

                    img {
                        overflow: hidden;
                        width: 100%;
                    }
                }
            }

            .specs-container {
                width: 40%;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                padding-inline: 2rem;
                background: transparent;

                h4 {
                    color: $main-white;
                    background: transparent;
                }

                .specs-info-dev {
                    background: transparent;

                    a {
                        color: $main-gray;
                        background: transparent;
                        text-decoration: none;
                    }

                    span {
                        color: $main-white;
                        background: transparent;
                    }
                }

                .specs-info-date {
                    background: transparent;

                    :nth-child(1) {
                        color: $main-white;
                        background: transparent;
                    }

                    :nth-child(2) {
                        color: $main-gray;
                        background: transparent;
                    }
                }

                .specs-info-cat {
                    background: transparent;
                    display: flex;
                    flex-direction: column;
                    gap: 0.2rem;

                    .cat-title {
                        background: transparent;
                        color: $main-white;
                    }

                    #categories-container {
                        background-color: transparent;
                        display: flex;
                        width: 100%;
                        flex-wrap: wrap;
                        height: fit-content;
                        gap: 0.5rem;

                        span {
                            background: linear-gradient(to right, #755FFF, #C854FF);
                            padding: 0.2rem 1rem;
                            border-radius: 0.2rem;
                            color: $main-white;
                            filter: opacity(0.7);
                            cursor: pointer;
                            transition: 0.2s ease-in-out;

                            &:hover {
                                filter: opacity(1);
                            }
                        }
                    }
                    
                }
            }
        }

        .game-description-price {
            display: flex;
            width: 100%;
            background: transparent;

            .game-description-container {
                width: 60%;
                background: transparent;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                h4 {
                    background: transparent;
                    color: $main-white;
                }

                span {
                    background: transparent;
                    color: $main-gray;
                }
            }

            .game-price-card {
                padding-inline: 2rem;
                background: transparent;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                width: 40%;
                align-items: center;

                .price-container {
                    display: flex;
                    flex-direction: column;
                    background: transparent;
                    width: 11rem;
                    
                    .initial-price-container {
                        background: transparent;

                        .initial-price {
                            color: $main-gray;
                            background: transparent;
                            text-decoration: line-through;
                        }
                    }

                    .final-price-container {
                        background: transparent;
                        display: flex;
                        justify-content: space-between;
                        gap: 2rem;

                        .final-price {
                            font-size: 1.5rem;
                            background: transparent;
                            color: #BEEE11;
                            font-weight: 500;
                        }

                        .discount-amount {
                            font-size: 1rem;
                            display: flex;
                            align-items: center;
                            background: linear-gradient(to right, #755FFF, #C854FF);
                            color: $main-white;
                            font-weight: 600;
                            padding: 0.3rem 0.5rem;
                            border-radius: 0.2rem;
                        }
                    }

                    .final-price-container-noDiscount {
                        background: transparent;
                        display: flex;
                        justify-content: center;
                        gap: 2rem;

                        .final-price {
                            font-size: 1.5rem;
                            background: transparent;
                            color: #BEEE11;
                            font-weight: 500;
                        }
                    }
                }

                .buttons-container {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    background: transparent;
                    width: 11rem;

                    .buy-btn {
                        padding: .6rem;
                        outline: none;
                        border-radius: .2rem;
                        font-weight: 500;
                        background: #7FA721;
                        border: 1px solid #1A1A1A;
                        color: $main-white;
                        transition: 0.2s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            box-shadow: inset 0px 0px 5px 2px #1A1A1A;
                            text-shadow: 1px 1px 3px #1A1A1A;
                        }
                    }

                    .cart-btn {
                        padding: .6rem;
                        outline: none;
                        border-radius: .2rem;
                        font-weight: 500;
                        background: transparent;
                        color: $darker-blue;
                        border: 1px solid $darker-blue;
                        transition: 0.2s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            background: $darker-blue;
                            color: $main-white;
                        }
                    }

                    .add-library-btn {
                        padding: 0.6rem;
                        outline: none;
                        border-radius: .2rem;
                        font-weight: 500;
                        background: $darker-blue;
                        color: $main-white;
                        border: 1px solid #1a1a1a;
                        transition: 0.2s ease-in-out;
                        cursor: pointer;

                        &:hover {
                            box-shadow: inset 0px 0px 5px 2px #1A1A1A;
                            text-shadow: 1px 1px 3px #1A1A1A;
                        }
                    }
                }
            }
        }
    }
}

.removeGame {
    border: 1px solid #d64242;
    color: #d64242;
    width: 10rem;
    outline: none;
    background: transparent;
    border-radius: 0.2rem;
    font-weight: 700;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    
    &:hover {
        color: $main-white;
        background: #d64242;
    }
}