
.register-main-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: none;
    align-items: center;
    justify-content: center;
    padding-block: 10rem;
    height: 90vh;

    .register-title-container {
        background: none;

        h2 {
            background: none;
            color: $main-white;
            text-shadow: 3px 2px 7px $main-white;
        }
    }

    .form-register-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #181a21;
        border-radius: 0.5rem;
        width: fit-content;

        form {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 30rem;
            background: none;

            .form-prompt {
                display: flex;
                flex-direction: column;
                width: 100%;
                background: none;

                .form-prompt-label {
                    background: none;
                    color: $main-blue;
                    font-weight: 600;
                    font-size: .8rem;
                    width: fit-content;
                    
                }

                .form-prompt-input {
                    padding: 0.5rem;
                    background: #32353c;
                    outline: none;
                    border: 1px solid #32353c;
                    border-radius: .2rem;
                    color: $main-white;

                    &:focus {
                        border: 1px solid $main-blue;
                    }
                }
                
                .country-selector {
                    padding: 0.5rem;
                    background: #32353c;
                    border: 1px solid #32353c;
                    border-radius: .2rem;
                    color: #fbfbfb2b;
                    display: flex;
                    gap: 1rem;

                    img {
                        width: 2rem;
                    }

                    span {
                        background: none;
                    }
                }

                .country-selector-dropdown {
                    padding: 0.5rem;
                    background-color: #32353c;
                    gap: 1rem;
                    display: none;
                    position: absolute;
                    width: 26rem;
                    transform: translateY(3.5rem);

                    .country-selector-option {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 0.5rem;
                        gap: 1rem;
                        background-color: #32353c;
                        cursor: pointer;
                        border-radius: .2rem;

                        img {
                            width: 2rem;
                        }

                        span {
                            background: none;
                            color: $main-white;
                        }

                        &:hover {
                            background-color: $darker-blue;
                        }
                    }
                }

                .displayBlock {
                    display: block;
                }


                // DOM // DOM // DOM // DOM // DOM //

                .picSelectionContainer {
                    display: flex;
                    justify-content: space-between;
                    background: none;

                    img {
                        width: 20%;
                        filter: grayscale(100%) brightness(50%);
                        transition: 0.2s ease-in-out;
                        border-radius: .5rem;

                        &:hover {
                            filter: grayscale(0%) brightness(100%);
                        }
                    }
                }

                .uploadInput {
                    display: none;
                }
            }

            .name-input {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background: none;

                div {
                    display: flex;
                    flex-direction: column;
                    background: none;
                }
            }

            .form-checkbox {
                background: none;
                display: flex;
                gap: .2rem;
                
                input {
                    background: none;
                }

                label {
                    background: none;
                    color: $main-white;

                    a {
                        background: none;
                        color: $main-white;
                        text-decoration: none;
                        transition: 0.2s ease-in-out;

                        &:hover {
                            color: $main-blue
                        }
                    }
                }
            }

            .submitButton {
                padding: calc(.5rem + 1px);
                border: none;
                color: $main-white;
                border-radius: .2rem;
                font-size: .8rem;
                font-weight: 600;
                background: $darker-blue;
                transition: 0.2s ease-in-out;

                &:hover {
                    background: $main-blue;
                }
            }

            .uploadButton {
                padding: calc(.5rem + 1px);
                color: $main-white;
                border-radius: .2rem;
                font-size: .8rem;
                font-weight: 600;
                border: 1px solid #32353c;
                background: #32353c;
                transition: 0.2s ease-in-out;

                &:hover {
                    border: 1px solid #fbfbfb88;
                }
            }
        }
    }

    .svgContainer {
        background: none;
        position: relative;
        

        svg {
            background: none;
        }
    }
}

.fadeIn {
    animation: fadeIn .5s forwards;
}

.fadeOut {
    animation: fadeOut .5s forwards;
}

@keyframes fadeIn {
    0% {
        visibility: visible;
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
};

@keyframes fadeOut {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.continueButton {
    padding: calc(.5rem + 1px);
    border: none;
    color: #fbfbfb;
    border-radius: .2rem;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: $darker-blue;
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $main-blue;
    }
}

.error {
    border: 1px solid red !important;
}


