
.store-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #101010;
    padding-block: 2.5rem;
    gap: 0.5rem;

    // infobar

    .banner-container {
        position: relative;
        object-fit: content;
        height: fit-content;
        width: 100%;
        padding-inline: 5rem;
        background: transparent;

        @media screen {
            max-width: 1500px;
        }

        .banner-img {
            width: 100%;
            display: flex;
            border-radius: 0.25rem;
        }
    }

    .store-info-container {
        display: flex;
        position: relative;
        height: fit-content;
        width: 100%;
        padding-inline: 5rem;
        background: transparent;
        background-color: transparent;
        gap: 0.5rem;

        @media screen {
            max-width: 1500px;
        }

        .store-column-categories {
            width: 30%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            background-color: #3d3d3d;

            .format-btn-container {
                display: flex;
                width: 100%;
                height: 2.5rem;
                justify-content: space-around;
                background: transparent;
                gap: 0.5rem;

                #btn-horizontal {
                    width: 50%;
                    border: 1px;
                    border-radius: 0.25rem;
                    background: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.2s ease-in-out;
                    background: linear-gradient(to right, #755FFF, #C854FF);
                    filter: opacity(0.8);

                    svg {
                        background: transparent;
                        color: $main-white;
                        height: 1.8rem;
                        width: 1.8rem;
                    }
                    
                }

                #btn-vertical {
                    width: 50%;
                    border: 1px;
                    border-radius: 0.25rem;
                    background: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.2s ease-in-out;
                    background: linear-gradient(to right, #755FFF, #C854FF);
                    filter: opacity(0.8);

                    svg {
                        background: transparent;
                        color: $main-white;
                        height: 1.8rem;
                        width: 1.8rem;
                    }
                      
                }
            }

            .categories-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: .5rem;
                padding: .5rem;
                align-items: start;
                background-color: #2121215d;

                .category-selector {
                    list-style: none;
                    width: 100%;
                    background-color: $main-dark;
                    padding: 0.2rem;
                    transition: 0.2s ease-in-out;

                    a {
                        display: flex;
                        text-decoration: none;
                        background-color: transparent;
                        text-decoration: none;
                        color: $main-white;
                        font-weight: 400;
                        width: 100%;
                    }
                }
            }

            .search-container {
                display: flex;
                height: 2.5rem;
                width: 100%;
                justify-content: end;
                background-color: #3d3d3d;

                #search-game-input {
                    width: 80%;
                    border: 1px solid $main-dark;
                    border-radius: 0.25rem 0 0 0.25rem;
                    outline: none;
                    padding: 0.5rem;
                    background: $second-gray;
                    box-shadow: inset 0px 0px 5px 2px $main-dark;
                    color: $main-white;
                    font-size: 1.2rem;
                }

                #search-game-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $main-dark;
                    border-left: none;
                    border-radius: 0 0.25rem 0.25rem 0;
                    width: 20%;
                    cursor: pointer;
                    background-color: $second-gray;


                    svg {
                        background-color: $second-gray;
                        fill: $main-white;
                    }
                }
            }
        }

        .store-column-search {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            width: 100%;
            height: fit-content;
            background-color: transparent;

            .games-container {
                display: flex;
                width: 100%;
                height: fit-content;
                background-color: transparent;
                flex-direction: column;
                gap: 0.5rem;

                .gameHorizontalCard {
                    display: flex;
                    background-color: transparent;
                    transition: 0.2s ease-in-out;
                    border-radius: 0.25rem;
                    overflow: hidden;
                    background: #1A1A1A;

                    &:hover {
                        box-shadow: 5px 5px 4px 0px;
                        transform: translate(-5px, -5px);
                    }

                    .horizontalCardLeft {
                        width: 50%;

                        .gameHorizontalImage {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .horizontalCardRight {
                        width: 50%;
                        background-color: $third-dark;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 0.5rem;

                        .titleContainer {
                            text-align: center;
                            background: transparent;

                            .gameName {
                                background: transparent;
                                color: $main-white;
                            }
                        }

                        .infoContainer {
                            display: flex;
                            background-color: transparent;
                            align-items: end;
                            justify-content: end;

                            .priceContainer {
                                display: flex;
                                flex-direction: column;
                                gap: 0.2rem;
                                width: 50%;
                                background-color: transparent;

                                .gameOriginalPriceContainer {
                                    background-color: transparent;
                                    color: $main-gray;
                                    text-decoration: line-through;
                                    width: 40%;
                                    display: flex;
                                    justify-content: center;
                                }

                                .finalGamePriceContainer {
                                    display: flex;
                                    gap: 0.5rem;
                                    background-color: transparent;
                                    align-items: center;

                                    .gamePrice {
                                        text-align: center;
                                        justify-content: center;
                                        width: 40%;
                                        background-color: transparent;
                                        color: #BEEE11;
                                        font-size: 1.4rem;
                                        font-weight: 500;
                                    }
    
                                    .discountAmount {
                                        display: flex;
                                        text-align: center;
                                        align-items: center;
                                        justify-content: center;
                                        border-radius: 0.2rem;
                                        background: linear-gradient(to right, $main-blue, $darker-blue);
                                        color: $main-white;
                                        font-weight: 500;
                                        padding: 0.3rem 0.5rem;
                                        height: fit-content;
                                        width: fit-content;
                                    }
                                }
                            }

                            .buttonsAlertsContainer {
                                width: 50%;
                                background-color: transparent;
                                height: 4.5rem;
                                display: flex;
                                flex-direction: column;
                                gap: 0.5rem;

                                .addAnimationContainer {
                                    width: 100%;
                                    height: 2rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    color: $main-white;
                                    background: linear-gradient(to right, $main-blue, $darker-blue);
                                    border-radius: 0.2rem;
                                    opacity: 0;
                                    visibility: hidden;
                                }

                                .buttonsContainer {
                                    width: 100%;
                                    display: flex;
                                    justify-content: end;
                                    gap: 0.5rem;
                                    background: transparent;
    
                                    button {
                                        width: 50%;
                                        height: 2rem;
                                        border-radius: .2rem;
                                    }
    
                                    .cartButton {
                                        border: 1px solid $main-blue;
                                        background-color: $main-blue;
                                        color: $main-white;
                                        font-weight: 500;
                                    }
    
                                    .addLibraryButton {
                                        border: 1px solid $main-blue;
                                        background-color: $main-blue;
                                        color: $main-white;
                                        font-weight: 500;
                                    }
    
                                    .wishlistButton {
                                        border: 1px solid $main-blue;
                                        background: transparent;
                                        color: $main-blue;
                                        font-weight: 500;
                                    }
                                }
                            }


                        }
                    }
                }
            }
        }

        .store-column-data {
            display: flex;
            width: 20%;
            height: 500px;
            background-color: red;
        }
    }
}

.fadeIn {
    animation: fadeIn 1s forwards;
}

.fadeOut {
    animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.category-selected {
    scale: 1.07;
    background: linear-gradient(to right, $main-blue, $darker-blue);
}

.gamesContainer-quad-distribution {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-quad-distribution {
    flex-direction: column;
    flex-basis: calc(50% - .25rem);
}

.full-width {
    width: 100% !important;
}

.btn-mode-colored {
    filter: opacity(1) !important;
    scale: 1.02;
}